@charset "UTF-8";

body {
	background-color: #f8f9fa;
}

.header {
	width: auto;
}

.btn-custom:hover {
	background-color: #f0f0f0 !important;
}

.container-fluid {
	width: auto;
	height: 10%;
	display: flex;
	justify-content: end;
}

.navbar-nav {
	display: flex;
	list-style: none;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0;
}

.nav-item {
	margin-right: 10px;
}

.container {
	max-width: 1000px;
	margin-top: 100px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
}

.footer_copy {
	font-size: 1.2rem;
	line-height: 30px;
	text-align: center;
	color: #343434;
	height: 120px
}