<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ヘッダー</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="/css/header.css" rel="stylesheet">
</head>

<body>
	<div th:fragment="header" class="header__gnav">
		<div class="container-fluid">
			<nav class="navbar">
				<ul class="header__navbar-nav">
					<li class="header__nav-item nav-home">
						<a aria-current="page" href="/">Home</a>
					</li>
					<li class="header__nav-item">
						<a th:href="@{/login}" class="btn btn-danger" th:if="${username == 'anonymousUser'}">ログイン</a>
					</li>
					<li class="header__nav-item">
						<a th:href="@{/register}" class="btn btn-danger" th:if="${username == 'anonymousUser'}">
							一般会員登録する
						</a>
					</li>
					<li class="header__nav-item">
						<a th:href="@{/registerCorporation}" class="btn btn-danger"
							th:if="${username == 'anonymousUser'}">
							法人会員登録する
						</a>
					</li>
					<li class="header__nav-item" th:if="${username != 'anonymousUser'}">
						<a th:href="@{/updateUserPage}" class="btn btn-danger">マイページ</a>
					</li>
					<li class="header__nav-item" th:if="${username != 'anonymousUser'}">
						<a th:href="@{/logout}" class="btn btn-danger">ログアウト</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</body>

</html>